{% extends 'Training/tr_home.html' %}

{% block title %}Phase IV List{% endblock title %}

{% block breadcrumb %}
 <a class="btn btn-primary" href="{% url 'emanage:training_home' %}">Back</a>
{% endblock breadcrumb %}

{% block content %}
<div class="table-responsive">
    <table class="table table-striped" id="enqtable">
    {% if mydata %}
        <thead>
            <tr>
                <th>Sr.No</th>
                <th>Student Name</th>
                <th>Trainer Name</th>
                <th>Phase IV</th>
              
            </tr>
        </thead>
            {% for i in mydata %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.enquiry.Full_Name}}</td>
                    <td>{{i.trainer_name.trainer_name}}</td>
                    <td>{{i.phase_IV}}</td>
                    
                </tr>
            {% endfor %}
 </tbody>
  {% else %}
    <td><button class="btn btn-danger">No Infomation Available</button></td>
  {% endif %}
</table>
</div>
{% endblock %}