{% extends 'admin/base.html' %}
{% block title %}Project Details{% endblock title %}

{% block breadcrumb %}

<a class="btn btn-primary" href="{% url 'emanage:admin_page' %}"> Back</a>
{% endblock breadcrumb %}
{% block content %}
<div class="table-responsive"> 
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Student Name</th>
          <th>Topic Name</th>
          <th>Description</th>
          <th>Allocation Date</th>
          <th>phase_I</th>
          <th>phase_II</th>
          <th>phase_III</th>
          <th>phase_IV</th>
        </tr>
      </thead>
      <tbody>
        <tr>
         
          {% for xyz in mydata %}
            <td>{{xyz.enquiry.Full_Name}}</td>
            <td>{{xyz.topic_name}}</td>
            <td>{{xyz.description}}</td>
            <td>{{xyz.date}}</td>
            <td>{{xyz.phase_I}}</td>
            <td>{{xyz.phase_II}}</td>
            <td>{{xyz.phase_III}}</td>
            <td>{{xyz.phase_IV}}</td>
          </tr> 
          {% endfor %}
          </tbody>
        </table>
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% else %}
               <li class="page-item disabled"><span class="page-link">Previous</span></li>
            {% endif %}
        
            {% for i in page_obj.paginator.page_range %}
               {% if page_obj.number == i %}
              <li class="page-item active"><span class="page-link">{{ i }}</span></li>
               {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
        
            {% if page_obj.has_next %}
               <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% else %}
               <li class="page-item disabled"><span class="page-link">Next</span></li>
            {% endif %}
    {% endblock %}
     