{% extends 'enquiry/index2.html' %}


{% block title %}Fees Detail{% endblock title %}

{% block breadcrumb %}

<a class="btn btn-primary" href="{% url 'enq:account_home' %}"> Back</a>

{% endblock breadcrumb %}
{% block content %}
<div class="table-responsive"> 
<table class="table table-striped" id="enqtable">
  <thead style="position:sticky;top:10px;">
    <tr>
     
      <th>Id</th>
      <th>Candidate name</th>
      <th>Finilezed Internship</th>
      <th>Enquiry Status</th>
      <th>System Allocate</th>
      
    </tr>
  </thead>
  <tbody>
  {% for xyz in final %}
    <tr>
        
        <td>{{xyz.id}}</td>
        <td >{{xyz.name}}</td>
        <td>{{xyz.Cource_name}}</td>
        <td>{{xyz.enquiry_Status}}</td>
        <td>
          {% if xyz.enquiry_Status == 'Finalized' %} 
            <a href="{% url 'enq:accontpage' xyz.id %}" class="btn btn-primary">Admission</a>
         
          {% else %}
            <button class="btn btn-success" disabled>Done</button>
            
          {% endif %}
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}