{% extends 'enquiry/index.html' %}


{% block title %}Total Enquiry{% endblock title %}

{% block breadcrumb %}

<a class="btn btn-primary" href="{% url 'emanage:home' %}"> Back</a>
  
{% endblock breadcrumb %}
{% block content %}
<div class="table-responsive"> 
<table class="table table-striped" id="enqtable">
  {% if pending %}
  <thead style="position:sticky;top:10px;">
    <tr>
     
      <th>Id</th>
      <th>Candidate name</th>
      <th>Area Of Interest</th>
      <th>Technical skill set</th>
      <th>Finilezed Internship And Amount</th>
      <th>Enquiry Status</th>
    </tr>
  </thead>
  <tbody>
  {% for xyz in pending %}
    <tr>
        
        <td>{{xyz.id}}</td>
        <td >{{xyz.Full_Name}}</td>
        <td>{{xyz.Area_of_Intrest}}</td>
        <td>{{xyz.Technical_Skills}}</td>
        <td>{{xyz.Cource_name}}</td>
         <td>
           {{xyz.enquiry_Status}}
        </td>
       
    </tr>
    {% endfor %}
  </tbody>
  {% else %}
  <td><button class="btn btn-danger">No Information Available</button></td>
{% endif %}
</table>
</div>
{% endblock %}
<!-- <nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">Previous</span></li>
    {% endif %}

    {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }}</span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">Next</span></li>
    {% endif %}

   -->
